.contact-form {
    margin: 4rem 6rem;
  }
  .contact-form h1 {
    font-size: 26px;
    color: brown;
  }
  .contact-form form {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
  .contact-form input {
    height: 3rem;
    padding: 0 1;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid #2a2a2a;
  }
  .contact-form textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid #2a2a2a;
  }
  .contact-form button {
    display: inline;
    background-color: rgb(162, 128, 194);
    border-radius: 5px;
    color: floralwhite;
    border: 0px solid #2a2a2a;
  }
  @media screen and (max-width: 850px) {
    .contact-form {
      margin: 4rem 2rem;
    }
    .contact-form form {
      padding-top: 3rem;
  
      width: 90%;
    }
  }
  