.footer {
    background-color: cadetblue;
    padding: 4rem 6rem;
  }
  .footer i {
    font-size: 3rem;
  }
  .top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .top i {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .bottom {
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .bottom div {
    display: flex;
    flex-direction: column;
  }
  .bottom h4 {
    font-size: 24px;
    padding: 1rem 0.8rem 0;
  }
  .bottom a {
    text-decoration: none;
    color: rgb(153, 58, 90);
    font-size: 1.1rem;
  }
  @media screen and (max-width: 850px) {
    .footer {
      padding: 4rem 2rem;
    }
    .footer i {
      font-size: 36px;
      margin: 1rem 1rem 0 0;
    }
    .bottom div {
      width: 50%;
    }
  }
  